.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.entrada{
 background-color: blue;
}

.saida{
    background-color: blueviolet;
}

.relatorio{
    background-color: orange;
}